@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'Bebas';
    src: url(fontes/BebasNeue-Regular.otf);
}

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas',cursive;
    --font-android: 'Idroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    width: auto;
    min-height: 150px;
    height: 300px;
    padding-top: 40px;
    border: 0px;
    text-align: center;
    background-image: linear-gradient(to bottom, #5AD27F,#46A764,#2F7646,#225A36);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.452);
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438)
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
    margin-bottom: 20px;
}

nav{
    background-color: #143D1E;
    padding: 10px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.452);
}

nav > a{
    color: #5AD27F;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: #46A764;
    color:#235C37;
}

a.externo::after{
    content: '\00A0\1F517';
}

body{
    background-color: #EBE5C5;
}

main{
    text-align: center;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    text-align: justify;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
}
main h2{
    font-family: var(--font-android);
    color:#143D1E;
    border: 10px;
    text-align: left;
    font-weight: normal;
    font-size: 1.8em;
}

main a{
    text-decoration: none;
    color:#276340;
    font-weight: bold;
    background-color: #5AD27F;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #30774e;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
h3{
    font-family: var(--font-android);
    color:#276340;
    text-align: left;
    font-size: 1.3em;
    background-image: linear-gradient(to right #398B53, transparent);
    text-indent: 8px;
}
strong{
    color: #235C37;
    font-weight: bold;
}
div.video{
    background-color: #143D1E;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #83E2AD;
}

aside > ul{
    list-style-type:'\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    text-align: justify;
}

 aside h2{
     font-family: var(--font-padrao);
     background-color: #235C37;
     color: white;
     padding: 10px;
     margin: -10px -10px 0px -10px;
     border-radius: 10px 10px 0px 0px;
     box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
 }

footer{
    background-color: #143D1E;;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

 img.pequena{
     margin: auto;
     max-width: 350px;
     display: block;
 }